html,body{
    margin: 0;
    padding: 0;
}
.str3{
    display: flex;
    flex-wrap: wrap;
    background-color: green;

}
.col3{
    width: 25%;
}
.number3{
    height: 100px;
    margin: 2%;
    background-color: blue;
}