.item4{
    display: flex;
    background-color: greenyellow;
}
.str4{
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 25%;
}
.number4{
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  margin: 2%;
}